#backlog-container{
  width: 100%;
  height: 100%;
  padding-top: 6em;
  display: flex;
  align-items: center;
  justify-content: center;

}
.backlog-list{
  align-items: center;
  justify-content: center;
  width: 50%;
}
.list-group-item{
  width: 100%;
  display: flex;
}
form{
  padding: 0;
  border: none;
  width: unset;
  margin-left: auto;

}
.add-to-sprint-btn{
  &, &:focus{
    background: transparent;
    border: none;
    float: right;
    margin: 0;
  }
}
@media only screen and (max-width: 600px){
  .backlog-list{
    width: 80% !important;
  }
  .add-to-sprint-btn{
    font-size: 3vw;
  }
  form{
    display: flex;
  }
  .list-group-item{
    display: block;
    word-wrap: break-word;
  }

}
@media only screen and (max-width: 1124px){
  .backlog-list{
    width: 80% !important;
  }
}