@import "global";

body {
  background: #000;
}

.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  overflow: hidden;
}

.h3 {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
}
p{
  font-size: 0.75em;
  margin: 0 !important;
}
.sprint, .sprint:hover{
  text-decoration: none;
  color: #000;
  margin-left: auto;
}

.list-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 18% 82%;
  padding-top: 3.8em;

}

.user-info {
  display: grid;
  width: 60%;
  justify-self: center;
  justify-content: center;

  img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }
}

#down {
  display: inherit;
  align-items: center;
  overflow: auto;
  padding-left: 3em;
  padding-right: 3em;

  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: #000;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
  }

}


.goal-name {
  &, &:focus {
    text-align: inherit;
    font-size: 1.1em;
    float: left;
    background: transparent;
    border: none;
    outline: 0;
    margin-top: unset;
  }
}

.actual {
  .goal-name {
    color: $base-blue;
    font-weight: 600;
  }

}

.delete-goal, .edit-goal, .check {
  &, &:focus {
    margin: 6px 0.5em 0;
    float: right;
    background: transparent;
    border: none;
    outline: 0;
  }

}

.green {
  color: $base-blue;
}

.timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background: $base-blue;
    left: 50%;
    margin-left: -1.5px;
  }

  & > li {
    margin-bottom: 2em;
    position: relative;
    width: 50%;
    float: left;
    clear: left;

    .timeline-panel {
      width: calc(100% - 25px);
      width: -moz-calc(100% - 25px);
      width: -webkit-calc(100% - 25px);
      float: left;
      border: 1px solid $base-light-grey;
      background: #ffffff;
      position: relative;

      &:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid $base-light-grey;
        border-right: 0 solid $base-light-grey;
        border-bottom: 15px solid transparent;
        content: " ";
      }

      &::after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #ffffff;
        border-right: 0 solid #ffffff;
        border-bottom: 14px solid transparent;
        content: " ";
      }
    }

    .timeline-badge {
      color: #ffffff;
      width: 24px;
      height: 24px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      top: 16px;
      right: -12px;
      z-index: 100;

      a {
        color: #ffffff !important;
        i{
          color: $base-blue;
        }
      }
    }

    &.timeline-inverted {
      float: right;
      clear: right;
      margin-top: 1.5em;

      .timeline-panel {
        float: right;

        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }

      .timeline-badge {
        left: -12px;
      }

    }
  }

  li:before, li:after {
    content: " ";
    display: table;
  }

  li:after {
    clear: both;
  }
}

.timeline-heading {
  display: flow-root;
  padding: 1em;
  line-height: normal;
}

.timeline-body, .timeline-body > ul {
  padding: 10px 15px;
  margin-bottom: 0;
  word-wrap: break-word;
}

.timeline-footer {
  padding: 5px 15px;
  background-color: $base-light-grey;
  display: flex;
}

.timeline-footer p {
  margin-bottom: 0;
}

.timeline > li:nth-child(2) {
  margin-top: 60px;
}

.no-float {
  float: none !important;
}

@media only screen and (max-width: 1124px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li {
    margin-bottom: 0;
    position: relative;
    float: left;
    clear: left;
    width: 75%;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
  }
  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: 28px;
  }
}

@media only screen and (max-width: 600px) {
  .list-container{
    padding-top: 2em;
    padding-bottom: 2em;
    grid-template-rows: 2% 98%;
  }
  .user-info img{
    display: none;
  }
  #down{
    font-size: 4.7vw;
  }
  .timeline-heading{
    display: inline-flex;
  }
  ul.timeline > li {
    width: 50%;
  }

}
@media only screen and (max-width: 1124px){
  .footer-container{
    display: none !important;
  }
  #down{
    overflow-x: hidden ;
     padding-left: 0!important;
    &::-webkit-scrollbar {
      display: none;
    }
   }

}